PONTO_LOGIN_URL="https://app2.pontomais.com.br/relatorios"
PONTO_REPORT_URL="https://app2.pontomais.com.br/relatorios"
PONTO_CPF=""
PONTO_PASSWORD=""
PONTO_WORK_DIR="C:\\dashboard-consistencias-ponto\\data\\worker"
PONTO_TIMEOUT_MS="45000"
PONTO_JOB_TIMEOUT_SECONDS="600"
PONTO_JOURNEY_REPORT_TYPE="Jornada (espelho ponto)"
PONTO_JOURNEY_REPORT_MODEL="ROBERT - DASHBOARD"
PONTO_ABSENCE_REPORT_TYPE="Faltas"
PONTO_ABSENCE_REPORT_MODEL="ROBERT - PAINEL GERENCIAL"
PONTO_DELAY_REPORT_TYPE="Atrasos"
PONTO_DELAY_REPORT_MODEL="ROBERT - DASHBOARD"
PONTO_CPF_SELECTOR=""
PONTO_PASSWORD_SELECTOR=""
PONTO_SUBMIT_SELECTOR=""
PONTO_DATE_FROM_SELECTOR=""
PONTO_DATE_TO_SELECTOR=""
PONTO_DOWNLOAD_SELECTOR=""
APP_BASE_URL="http://localhost:3000"
AUTOMATION_TOKEN=""
PYTHON_BIN="python"
